/bin/
/build/
/out/
.vs/
*.user
*.sdf
*.opensdf
*.suo
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.dxo
*.err
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
datasets/*.splat
datasets/*.sflw
datasets/*.ply
datasets/*.xyz
datasets/*.bin
